.DisplayExerciseInfo {
  text-align: center;
  margin-top: 80px;
}
.display-exercise-time {
  background-color: rgba(255, 255, 255, 0.623);
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
}

.btn-complete {
  /* margin-top: 20px; */
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto 0 auto;
  cursor: pointer;
  font-size: 16px;
}
