.sidebar {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.btns-container {
  margin-top: 80px;
  text-align: center;
  padding: 0 5px;
}
.breaks-btns {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 300px;
    margin: 0 auto;
  }
}
