.app {
  max-width: 1400px;
  margin: 0 auto;
}
.app h1 {
  text-align: center;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.exercises {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 1300px) {
  .exercises {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 985px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 768px) {
  .exercises {
    grid-template-columns: repeat(1, 1fr);
  }
}
