.app {
  max-width: 1400px;
  margin: 0 auto;
}
.app h1 {
  text-align: center;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.exercises {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
